body {
	background-color: gray;
	font-family: tahoma;
}

h1 {
	color:blue;
}
header {
	background-color: black;
}
.title-box {
	border: solid 1px black;
}
.title {
	text-decoration: none;

}
.title h1 {
	color: white;
	text-decoration: none;
	padding-left: 50px;
}
.links {
	list-style-type: none;
	float: right;
	position: relative;
	top: -60px;
	margin-right: 50px;
}
ul.links li {
	display: inline-block; 
	padding-left: 10px;
}
ul.links li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
ul.links li a:hover {
	color: green;
}
.green {
	color: green;
}
.container {
	width: 960px;
	margin: auto;
}

.image-size {
	width: 100%;
	position: relative;
	top: -70px;
}
.box {
	position: relative;
	top: -90px;
	background-color: white;
	height: 300px;
}
.dog {
	border: solid 1px gray;
	width: 215px;
	position: relative;
	top: -40px;
	height: 300px;
}
.group li {
	list-style-type: none;
	display: inline-block;
}
.callout-title {
	background-color: black;
	text-align: center;
	text-transform: uppercase;
	color: white;
	height: 50px;
	position: relative;
	top: -20px;
}
.callout-title h4 {
	position: relative;
	top: 15px;
}
.callout-title h4 span {
	color: green;
}
.callout-image {
	position: relative;
	top: -290px;
	height: 100px;
	width: 205px;
}
.callout-desc {
	position: relative;
	top: -290px;
	height: 100px;
	width: 205px;
	padding: 5px;
	font-size: 14px;
	font-family: tahoma;
}
.callout-btn {
	position: relative;
	top: -290px;
}
.callout-btn button{
	height: 30px;
	background-color: green;
	color: white;
}
.callout-image img {
	width: 216px;
    height: 100px;
}
/*bootstrap*/
a.active {
	color: green !important;
}
.popular {
	background-color: black;
}
.popular h4 {
	padding: 20px 10px;
	color: white;
}
.caption h4 {
	color: green;
}
.background {
	background-color: white;
}
footer h5 {
	padding: 20px 10px;
	background-color: black !important;
	color: white;
}
